# Question: 01

In [129]:
import pandas
import numpy as np
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

In [130]:
Occupancy_test = pandas.read_csv(r"C:\Users\User\OneDrive\Desktop\occupancy_test.txt")
Occupancy_train = pandas.read_csv(r"C:\Users\User\OneDrive\Desktop\occupancy_train.txt")


Occupancy_test=Occupancy_test.drop(columns = ['date', 'Temperature', 'CO2'])
Occupancy_train=Occupancy_train.drop(columns = ['date', 'Temperature', 'CO2'])

In [131]:
Occupancy_test.head()

     Humidity       Light  HumidityRatio  Occupancy
140    26.272  585.200000       0.004764          1
141    26.290  578.400000       0.004773          1
142    26.230  572.666667       0.004765          1
143    26.125  493.750000       0.004744          1
144    26.200  488.600000       0.004767          1

In [132]:
test=Occupancy_test.values
train=Occupancy_train.values

In [133]:
X_test=test[:,0:3]
Y_test=test[:,3]
X_train=train[:,0:3]
Y_train=train[:,3]

## different k-values

In [134]:
all_accuracy=[]
best_accuracy=0

for i in range(1,11):
    knn=KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, Y_train)
    prediction=knn.predict(X_test)
    accuracy=accuracy_score(Y_test, prediction)
    all_accuracy.append(accuracy)
    if(best_accuracy<accuracy):
        best_accuracy=accuracy
    print("Accuracy: "+str(accuracy)+" at k= "+str(i))

Accuracy: 0.9403377110694184 at k= 1
Accuracy: 0.925328330206379 at k= 2
Accuracy: 0.9572232645403377 at k= 3
Accuracy: 0.9448405253283302 at k= 4
Accuracy: 0.9553470919324578 at k= 5
Accuracy: 0.9527204502814259 at k= 6
Accuracy: 0.9632270168855535 at k= 7
Accuracy: 0.9613508442776736 at k= 8
Accuracy: 0.9647279549718574 at k= 9
Accuracy: 0.9643527204502814 at k= 10

In [135]:
for i in range(1,11):
    if all_accuracy[i-1]==best_accuracy:
        print("Best Accuracy: "+str(all_accuracy[i-1]) +" at k= "+ str(i))

Best Accuracy: 0.9647279549718574 at k= 9

## Different Seeds values

In [136]:
all_accuracy=[]
best_accuracy=0
t_size = 0.20 
for i in range(1,11):
    X_train2, X_test2, Y_train2, Y_test2 = train_test_split(X_test, Y_test, test_size=t_size,random_state=i)
    knn2=KNeighborsClassifier(n_neighbors=5)
    knn2.fit(X_train2, Y_train2)
    prediction=knn2.predict(X_test2)
    accuracy=accuracy_score(Y_test2, prediction)
    all_accuracy.append(accuracy)
    if(best_accuracy<accuracy):
        best_accuracy=accuracy
    print("Accuracy: "+str(accuracy)+" at seed= "+str(i))

Accuracy: 0.9774859287054409 at seed= 1
Accuracy: 0.9793621013133208 at seed= 2
Accuracy: 0.9737335834896811 at seed= 3
Accuracy: 0.9774859287054409 at seed= 4
Accuracy: 0.9812382739212008 at seed= 5
Accuracy: 0.9774859287054409 at seed= 6
Accuracy: 0.9699812382739212 at seed= 7
Accuracy: 0.9681050656660413 at seed= 8
Accuracy: 0.975609756097561 at seed= 9
Accuracy: 0.975609756097561 at seed= 10

In [137]:
for i in range(1,11):
    if all_accuracy[i-1]==best_accuracy:
        print("Best Accuracy: "+str(all_accuracy[i-1]) +" at seed= "+ str(i))

Best Accuracy: 0.9812382739212008 at seed= 5

# Question:02

In [138]:
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
dataset = pandas.read_csv(r"C:\Users\User\OneDrive\Desktop\iris.data", names=names)
dataset

     sepal-length  sepal-width  petal-length  petal-width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [139]:
array = dataset.values
X = array[:,0:4]
Y = array[:,4]

In [140]:
t_size = 0.20 
seed = 7 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=t_size,random_state=seed)

In [141]:
predict=[]
checkclass=[]

for i in range(0,len(X_test)):
    distance=[]
    classe=[]
    clas={
    "Iris-setosa":0,
    "Iris-versicolor":0,
    "Iris-virginica":0    
    }
    counter=0
    for j in range(0,len(X_train)):
        distance.append(abs(X_test[i][0]-X_train[j][0])+abs(X_test[i][1]-X_train[j][1])+abs(X_test[i][2]-X_train[j][2])+abs(X_test[i][3]-X_train[j][3]))
        classe.append(Y_train[j])
    for iter_num in range(len(distance)-1,0,-1):
        for idx in range(iter_num):
            if distance[idx]>distance[idx+1]:
                temp = distance[idx]
                temp2=classe[idx]
                distance[idx] = distance[idx+1]
                classe[idx] = classe[idx+1]
                distance[idx+1] = temp
                classe[idx+1] = temp2
    for i in range(0,7):
        clas[classe[i]]+=1
        if counter<clas[classe[i]]:
            counter=clas[classe[i]]
            checkclass=classe[i]
    predict.append(checkclass)
    
predict

['Iris-virginica',
 'Iris-versicolor',
 'Iris-setosa',
 'Iris-versicolor',
 'Iris-versicolor',
 'Iris-setosa',
 'Iris-versicolor',
 'Iris-versicolor',
 'Iris-setosa',
 'Iris-versicolor',
 'Iris-virginica',
 'Iris-versicolor',
 'Iris-setosa',
 'Iris-virginica',
 'Iris-setosa',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-virginica',
 'Iris-setosa',
 'Iris-setosa',
 'Iris-versicolor',
 'Iris-virginica',
 'Iris-versicolor',
 'Iris-versicolor',
 'Iris-virginica',
 'Iris-versicolor',
 'Iris-versicolor',
 'Iris-versicolor',
 'Iris-virginica',
 'Iris-virginica']

In [142]:
print(accuracy_score(Y_test,predict))

0.8333333333333334